
<div class="image-uploader">
  <label class="form-label">{{ label }}</label>
  <div class="image-preview-container mb-2" *ngIf="imagePreview">
    <img [src]="imagePreview" class="img-thumbnail" alt="Image Preview">
    <button type="button" class="btn btn-sm btn-danger remove-button" (click)="removeImage()">
      <i class="bi bi-x-circle"></i>
    </button>
  </div>
  <input 
    type="file" 
    class="form-control"
    id="imageInput" 
    (change)="onFileSelected($event)"
    accept="image/*">
  <small class="form-text text-muted">Tamanho máximo: {{ maxFileSizeMB }}MB. Proporção recomendada: {{ aspectRatio }}.</small>
</div>

